$theme: #0F4C81; // color of the year
$complement: #F0EFE2;
$dark: darken($complement, 80%);

body, html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $theme;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.github {
  padding: 2rem;
  border-radius: 1rem;
  border: 1rem solid lighten($complement, 3%);
  background-color: $complement;
  
  > form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: .5rem solid darken($complement, 3%);
    background-color: darken($complement, 10%);
    color: $dark;
  }
}

.github-user {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: .5rem solid darken($complement, 3%);
  background-color: darken($complement, 10%);
  text-decoration: none;
  color: $dark;
  
  > img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
}